<div class="newBlogContainer">
  <a routerLink=".."><i class="fas fa-arrow-left"></i></a>
  <h2 class="headline">Create a new blog</h2>
  <form class="addBlogForm" [formGroup]="addBlogForm" (ngSubmit)="createBlog()">
    <input type="text" placeholder="Titel" formControlName="title" />

    <select formControlName="theme">
      <option>Default</option>
      <option>PrincessBubblegum</option>
      <option>RobotsInTheSkies</option>
      <option>DinoDynamite</option>
    </select>

    <button type="submit" [disabled]="!addBlogForm.valid">Add</button>
  </form>
</div>
