.Default {
  background-color: white;
  color: thistle;
}

.PrincessBubblegum {
  background-color: palevioletred;
}

.RobotsInTheSkies {
  background-color: red;
}

.DinoDynamite {
  background-color: green;
}

.MrsFancyPants {
  background-color: lightblue;
}
