<div class="blogPageContainer">
  <div class="links">
    <a routerLink="/"><i class="fas fa-arrow-left"></i></a>
    <button>
      <a [routerLink]="['/blog', blogId, 'new-post']" routerLinkActive="active"
        >New Post</a
      >
    </button>
  </div>
  <div class="blogContainer">
    <div class="{{ theme }}">
      <h1 class="blogName">{{ title }}</h1>
      <div *ngIf="!posts?.length">
        You have no posts yet! Add one up there <i class="fas fa-arrow-up"></i>
      </div>
      <div class="post" *ngFor="let p of posts; let i = index">
        <app-post [post]="p" [index]="i"> </app-post>
      </div>
    </div>
  </div>
</div>
