@import url("https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Roboto&family=Roboto+Mono&family=Rock+Salt&display=swap");

$default-font: "Roboto", sans-serif;
$princess-font: "Princess Sofia", cursive;
$robot-font: "Roboto Mono", monospace;
$dino-font: "Rock Salt", cursive;
