@import "./fonts";

$default-primary: #f5f3f3;
$default-secondary: #d5d0ce;

$princess-primary: #ffb3dc;
$princess-secondary: #fff4c6;

$robot-primary: #0991e6;
$robot-secondary: #e5402a;

$dino-primary: #2fb152;
$dino-secondary: #e1a954;
