@import "src/assets/mixins";
@import "src/assets/variables";

.mainContainer {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  height: 87vh;
  .blogsContainer {
    background-color: $default-secondary;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;

    .blogs {
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .blogsHeadline {
        width: fit-content;
        font-size: 2.5em;
      }
      .blogList {
        display: flex;
        flex-direction: column;
        width: 80%;
        list-style: none;
        padding: 0%;

        .blogItem {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          a {
            @include linkStyle;
            width: 220px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .blogButtons {
            display: flex;
            flex-direction: row;
            div {
              @include linkStyle;
            }
          }
        }
      }
    }
    .addBlog {
      display: flex;
      height: auto;
      justify-content: flex-end;
      button {
        @include buttonStyle;
        margin: 5%;
        a {
          font-size: 30px;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .presentationContainer {
    background-color: $default-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;

    .logoImage {
      width: 50%;
    }
    .presentationText {
      width: 50%;
      text-align: end;
      font-size: 1.5em;
    }
  }
}
