<div class="mainContainer">
  <div class="blogsContainer">
    <div class="blogs">
      <h2 class="blogsHeadline">Your blogs</h2>
      <ul class="blogList">
        <div *ngIf="!blogs?.length">You have no blogs yet</div>
        <li class="blogItem" *ngFor="let b of blogs; let i = index">
          <a
            class="blogLink"
            [routerLink]="['/blog', b.id]"
            routerLinkActive="active"
            >{{ b.title }}</a
          >
          <div class="blogButtons">
            <div class="delete" (click)="deleteBlog(b.id)">
              <i class="fas fa-trash-alt"></i>
            </div>
            <div>
              <a [routerLink]="['/edit-blog', b.id]" routerLinkActive="active"
                ><i class="fas fa-edit"></i
              ></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="addBlog">
      <button>
        <a [routerLink]="['/create-blog']" routerLinkActive="active"
          ><i class="fas fa-plus"></i
        ></a>
      </button>
    </div>
  </div>
  <div class="presentationContainer">
    <img class="logoImage" src="../../../assets/logo.png" />
    <span class="presentationText"
      >Welcome to Cyborg, Marshmallow, Stegasaurus (CyMaSt for short), the
      number one (ish) content management system on the web! Choose an existing
      blog from the list, or click the + to create a new one!
    </span>
  </div>
</div>
