<div class="postTitle">
  <h2>{{ post.title }}</h2>
  <span class="created">{{ post.created | date: "short" }}</span>
</div>
<p class="content">{{ post.content }}</p>

<div class="postContainer">
  <a
    class="comments"
    [routerLink]="['./post', post.id, 'comments']"
    routerLinkActive="active"
    >Comments({{ post.comments.length }})</a
  >
  <div class="editDelete">
    <a [routerLink]="['./edit-post', post.id]" routerLinkActive="active"
      ><i class="fas fa-edit"></i
    ></a>
    <div (click)="deletePost(post.id)"><i class="fas fa-trash-alt"></i></div>
  </div>
</div>
