<div class="newPostContainer">
  <h2>Write a new post!</h2>

  <form class="addPostForm" [formGroup]="addPostForm" (ngSubmit)="createPost()">
    <input
      class="title"
      type="text"
      placeholder="Titel"
      formControlName="title"
    />
    <textarea
      class="content"
      type="text"
      placeholder="Innehåll"
      formControlName="content"
    ></textarea>
    <button class="button" type="submit" [disabled]="!addPostForm.valid">
      Add
    </button>
  </form>
  <a routerLink="..">Back</a>
</div>
