<div class="editPostPageContainer">
  <a routerLink="/blog/{{ blogId }}"><i class="fas fa-arrow-left"></i></a>
  <div class="editPostContainer">
    <h1>Edit post</h1>

    <form
      class="editPostForm"
      [formGroup]="editPostForm"
      (ngSubmit)="editPost()"
    >
      <input class="title" type="text" formControlName="title" />
      <textarea
        class="content"
        type="text"
        formControlName="content"
      ></textarea>
      <button type="submit" [disabled]="!editPostForm.valid">Save</button>
    </form>
  </div>
</div>
