<div class="commentsPageContainer">
  <a class="back" routerLink="/blog/{{ blogId }}"
    ><i class="fas fa-arrow-left"></i
  ></a>
  <div class="postContainer">
    <div class="{{ theme }}">
      <div class="post">
        <app-post [post]="post"></app-post>
      </div>
      <div class="commentContainer">
        <h2 class="commentsHeadline">Comments</h2>
        <div class="noComments" *ngIf="!comments?.length">
          You have no comments yet
        </div>
        <div></div>

        <div class="comments" *ngFor="let c of comments; let i = index">
          <app-comment [comment]="c" [index]="i"> </app-comment>
        </div>
        <app-add-comment [postId]="id"></app-add-comment>
      </div>
    </div>
  </div>
</div>
