<div class="editBlogContainer">
  <a routerLink="/"><i class="fas fa-arrow-left"></i></a>
  <div class="formContainer">
    <h1>Edit blog</h1>

    <form
      class="editBlogForm"
      [formGroup]="editBlogForm"
      (ngSubmit)="editBlog()"
    >
      <label for="title">Blog name</label>
      <input id="title" type="text" formControlName="title" />
      <label for="theme">Blog theme</label>
      <select id="theme" formControlName="theme">
        <option>Default</option>
        <option>PrincessBubblegum</option>
        <option>RobotsInTheSkies</option>
        <option>DinoDynamite</option>
        <option>MrsFancyPants</option>
      </select>
      <button type="submit" [disabled]="!editBlogForm.valid">Save</button>
    </form>
  </div>
</div>
